html,
body {
  margin: 0;
  width : 100%;
  height: 100%;
}

.nav {
  background-color: #102b72;
  width           : 100%;
}

.nav-item a {
  padding: 30px 20px !important;
  color  : rgb(230, 230, 230) !important;
}

.nav-item a:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.navbar-brand img {
  width: 84px;
}

.navbar-nav button a {
  padding: 0px 5px;
}

.navbar-toggler {
  border             : none !important;
  box-shadow         : none !important;
  transition-property: all !important;
  transition         : all ease .5s !important;
  outline            : none !important;
}

.navbar-toggler-icon {
  background: url("/img/menu.png") center/cover !important;
}

li.align-self-center>a.nav-link {
  margin-left : 50px;
  margin-right: 50px;
}

/* main */
.chessImgs {
  margin-bottom: 20vh;
}

.img1 {
  padding   : 50px 20px;
  background: url("https://www.shutterstock.com/blog/wp-content/uploads/sites/5/2019/07/Man-Silhouette.jpg") center/cover;
  color     : #fff;
}

.img1 p,
.lorem p {
  margin: 0px;
}

.text {
  width           : 70%;
  margin          : 0 auto;
  display         : flex;
  background-color: #ddd;
  border-radius   : 10px;
  padding         : 40px;
}

.lorem2 p {
  width: 50vh;
}

.text .img1 {
  padding: 100px 100px !important;
}

/* footer */
footer {
  background-color: #1c1c1c;
  color           : #cbcbcb;
}

footer a,
footer a:hover {
  color: #cbcbcb;
}

.address p {
  width    : 30vh;
  font-size: 2vh !important;
}

/* media */
@media screen and (max-width: 768px) {
  .chessImgs h1 {
    font-size: 18px !important;
    margin   : 30px 0px !important;
  }

  .lorem {
    padding: 20px !important;
  }

  .img1 {
    padding  : 20px;
    font-size: 14px;
  }

  .text {
    width         : 100%;
    flex-direction: column;
    padding       : 10px;
  }

  .lorem2 p {
    width  : 100%;
    padding: 10px !important;
  }
}