html,
body {
  margin: 0;
  width : 100%;
  height: 100%;
}

.nav {
  background-color: #102b72;
  width           : 100%;
}

.nav-item a {
  padding: 30px 20px !important;
  color  : rgb(230, 230, 230) !important;
}

.nav-item a:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.navbar h3 {
  display: none;
}

.navbar-brand img {
  width: 84px;
}

.navbar-nav button a {
  padding: 0px 5px;
}

.navbar-toggler {
  border             : none !important;
  box-shadow         : none !important;
  transition-property: all !important;
  transition         : all ease .5s !important;
  outline            : none !important;
}

.navbar-toggler-icon {
  background: url("/img/menu.png") center/cover !important;
}

li.align-self-center>a.nav-link {
  margin-left : 50px;
  margin-right: 50px;
}

/* main */
.chessImgs {
  margin-bottom: 10vh;
}

.img1 {
  padding   : 50px 20px;
  background: url("https://www.shutterstock.com/blog/wp-content/uploads/sites/5/2019/07/Man-Silhouette.jpg") center/cover;
  color     : #fff;
}

.lorem p {
  margin: 0px;
}

/* footer */
footer {
  background-color: #1c1c1c;
  color           : #cbcbcb;
}

footer a,
footer a:hover {
  color: #cbcbcb;
}

.address p {
  width    : 30vh;
  font-size: 2vh !important;
}

.card img {
  width: 30vh;
}

.card p{
  padding: 0px 10px;
}

/* LOADER */
.onload {
  display: none;
}

.loader {
  height         : 100%;
  display        : flex;
  justify-content: center;
  align-items    : center;
}

.loader img {
  width       : 20vh;
  justify-self: center;
  align-items : center;
}

/* SWIPER.JS */
.swiper-container {
  background-color: rgb(245, 245, 245);
  width : 100%;
  height: 100%;
}

.swiper-container h1,
.chessImgs h1{
  width: fit-content;
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 50px;
  padding: 10px 20vh;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0px 5px 10px #aaa;
  background-color: #fff;
}

.swiper-slide {
  margin         : 50px 0px;
  text-align     : center;
  font-size      : 18px;
  background     : #ccc;
  display        : flex;
  justify-content: center;
  align-items    : center;
}

/* media */
@media screen and (max-width: 1300px) {
  .card img {
    width: 25vh;
  }

  .card p{
    padding: 0px 10px;
  }
}

@media screen and (max-width: 840px) {
  .card img {
    width: 20vh;
  }

  .card p{
    padding: 0px 10px;
  }
}

@media screen and (max-width: 768px) {
  .card img{
    width: 25vh;
  }

  .card p {
    font-size: 16px;
    padding: 0px 10px;
  }
}

@media screen and (max-width: 425px) {
  .card img{
    width: 30vh;
  }

  .card p {
    font-size: 16px;
  }

  .chessImgs h1,
  .swiper-container h1{
    padding: 10px 10vh;
    font-size: 26px !important;
  }

  .swiper-slide{
    margin-top: 0px;
  }
}