html,
body {
  margin          : 0;
  width           : 100%;
  height          : 100%;
  background-color: #dae1f0 !important;
}

.nav {
  background-color: #102b72;
  width           : 100%;
}

.nav-item a {
  padding: 30px 20px !important;
  color  : rgb(230, 230, 230) !important;
}

.nav-item a:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.navbar h3{
  display: none;
}

.navbar-brand img {
  width: 84px;
}

.navbar-nav button a {
  padding: 0px 5px;
}

.navbar-toggler {
  border             : none !important;
  box-shadow         : none !important;
  transition-property: all !important;
  transition         : all ease .5s !important;
  outline            : none !important;
}

.navbar-toggler-icon {
  background: url("/img/menu.png") center/cover !important;
}

li.align-self-center>a.nav-link {
  margin-left : 50px;
  margin-right: 50px;
}

/* Main */
.main-body {
  padding: 50px 0px;
}

.card {
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
}

.card {
  position        : relative;
  display         : flex;
  flex-direction  : column;
  min-width       : 0;
  word-wrap       : break-word;
  background-color: #fff;
  background-clip : border-box;
  border          : 0 solid rgba(0, 0, 0, 0.125);
  border-radius   : 0.25rem;
}

.card-body {
  flex      : 1 1 auto;
  min-height: 1px;
  padding   : 1rem;
}

.gutters-sm {
  margin-right: -8px;
  margin-left : -8px;
}

.gutters-sm>.col,
.gutters-sm>[class*="col-"] {
  padding-right: 8px;
  padding-left : 8px;
}

.mb-3,
.my-3 {
  margin-bottom: 1rem !important;
}

.bg-gray-300 {
  background-color: #e2e8f0;
}

.h-100 {
  height: 100% !important;
}

.shadow-none {
  box-shadow: none !important;
}

/* Footer */
footer {
  background-color: #1c1c1c;
  color           : #cbcbcb;
}

footer a,
footer a:hover {
  color: #cbcbcb;
}

.address p {
  width    : 30vh;
  font-size: 2vh !important;
}

@media screen and (max-width: 991px){
  .navbar h3{
    display: initial;
  }
  .navbar h3 a{
    color: #fff;
    text-decoration: none;
  }
}


/* LOADER */
.onload {
  display: none !important;
}

.loader{
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader img {
  width       : 20vh;
  justify-self: center;
  align-items : center;
}