html,
body {
    margin          : 0px;
    min-width       : 100%;
    min-height      : 100%;
    background-color: #dae1f0 !important;
}

header {
    background-color: #102b72;
    position        : -webkit-sticky;
    position        : sticky;
    top             : 0px;
    z-index         : 999;
}

.nav-item a {
    padding: 20px 20px !important;
    color  : rgb(230, 230, 230) !important;
}

.nav-item a:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

.navbar-brand img {
    width: 200px;
}

.navbar-toggler {
    border: none !important;
    box-shadow: none !important;
    transition-property: all !important;
    transition: all ease .5s !important;
}

.navbar-toggler-icon {
    background: url("/img/menu.png") center/cover !important;
}

li.align-self-center>a.nav-link {
    margin-left : 50px;
    margin-right: 50px;
}

.schedule_div>div {
    border-radius: 20px;
    box-shadow   : 0px 5px 10px #aaa;
}

.schedule_div>div button {
    box-shadow: 0px 5px 10px #aaa;
}

.download_div {
    background-color: white;
    padding         : 20px;
    margin          : 40px 0px;
    overflow        : scroll;
}

/* teachers */
.teachers p {
    margin : 0px;
    padding: 10px 15px 20px;
}

.teachers img {
    width           : 200px !important;
    border-radius   : 100vh;
    background-color: #fff;
    margin-bottom   : 20px;
}

#teachersBlock > div:nth-child(1) > div > img{
    transition-property: all !important;
    transition: all ease .5s !important;
}

.teachers .col-sm-12>div {
    background-color       : #fff;
    border-top-left-radius : 5px;
    border-top-right-radius: 5px;
    padding-top            : 20px;
}

.teachers button {
    height: 50px;
}

.main_txt {
    width           : 100%;
    background-color: white;
    text-align      : center;
    padding         : 5px;
    margin-bottom   : 5px;
    margin-top      : 10px;
}