html,
body {
  scroll-behavior: smooth;
  height         : 100%;
}

main {
  padding-top  : 80px;
  padding-left : 300px;
  padding-right: 30px;
}

.sidebar-fixed {
  height: 100vh;
  width : 270px;
  -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16),
    0 2px 10px 0 rgba(0, 0, 0, 0.12);
  box-shadow      : 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  z-index         : 1050;
  background-color: #fff;
  padding         : 1.5rem;
  padding-top     : 1em;
}

.sidebar-fixed .list-group .active {
  -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16),
    0 2px 10px 0 rgba(0, 0, 0, 0.12);
  box-shadow           : 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  -webkit-border-radius: 5px;
  border-radius        : 5px;
}

.sidebar-fixed .logo-wrapper img {
  max-height: 100px;
}

.schedule_div .col-md-5 {
  background-color: #fff;
  padding-top     : 30px !important;
  margin          : 20px;
  border-radius   : 20px;
  box-shadow      : 0px 5px 10px #aaa;
}

.schedule_div .col-md-5 button {
  margin                    : 0px;
  box-shadow                : 0px 5px 10px #aaa;
  border-top-left-radius    : 0px;
  border-top-right-radius   : 0px;
  border-bottom-left-radius : 20px;
  border-bottom-right-radius: 20px;
}

.download_div {
  background-color: white;
  padding         : 20px;
  margin-top      : 40px;
}

.card {
  width : 80%;
  margin: 0 auto;
}

.moveBTNS {
  position      : fixed;
  right         : 20px;
  bottom        : 0;
  margin-bottom : 20px;
  flex-direction: column;
  z-index       : 9999;
}

.moveBTNS a {
  width : fit-content;
  height: fit-content;
}

.moveBTNS button {
  border-radius: 50px;
  width        : 40px;
  height       : 40px;
  padding      : 0px;
  font-size    : 20px !important;
  margin-top   : 10px !important;
}

/* TEACHERS */
#CREATEteacher {
  margin-left: 35px;
}

#teachersBlockRow button {
  margin    : 0px;
  margin-top: 20px;
}

#teachersBlockRow p {
  margin   : 0px;
  padding  : 0px 20px;
  font-size: 14px;
}

#teachersBlockRow .card {
  width     : 100%;
  text-align: center;
}

#newsBlockRow div>div,
#teachersBlockRow>div>div {
  border: 1px solid #ccc;
}

.date {
  text-align: right;
}

.footerNav ul {
  width: 100%;
}

.footerNav li {
  font-weight: 600;
  text-align : center;
  width      : 100%;
}

.footerNav li a {
  width : 100%;
  height: 100%;
}

/* MEDIA */
@media (min-width: 1200px) {

  .teachers,
  .news,
  .schedule {
    width       : 100% !important;
    padding-left: 30px;
  }

  .navbar,
  .page-footer,
  main {
    padding-left: 270px;
  }
}

@media (min-width: 769px) {
  .footerNav {
    display: none;
  }

  .schedule_div .col-md-5 button {
    padding: 10px;
  }
}

@media (max-width: 768px) {
  main {
    padding-left: 30px;
  }

  .sidebar-fixed {
    display: none;
  }

  .moveBTNS {
    bottom: 70px;
  }

  #CREATEteacher {
    margin-left: 0px;
  }
}

@media (max-width: 425px) {
  #CREATEteacher {
    width: 100%;
  }
}

@media (max-width: 375px) {
  .schedule_div .row div {
    margin: 20px 0px;
  }
}