html{
  scroll-behavior: smooth;
}

.sidebar-fixed {
  height: 100vh;
  width: 270px;
  -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16),
    0 2px 10px 0 rgba(0, 0, 0, 0.12);
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  z-index: 1050;
  background-color: #fff;
  padding: 1.5rem;
  padding-top: 1em;
}
.sidebar-fixed .list-group .active {
  -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16),
    0 2px 10px 0 rgba(0, 0, 0, 0.12);
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

.sidebar-fixed .logo-wrapper img {
  max-height: 100px;
}

.map-container {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0;
}

.map-container iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}

.schedule_div {
  display: flex;
  justify-content: center;
}

.download_div {
  background-color: white;
  padding: 20px;
  margin-top: 40px;
}

td {
  padding: 0px 10px;
}

th {
  padding: 10px;
}

.card{
  width: 80%;
  margin: 0 auto;
}

.moveBTNS{
  position: fixed;
  right: 0;
  bottom: 0;
  flex-direction: column;
  z-index: 9999;
}

.moveBTNS button{
  border-radius: 50px;
  width: 100px;
  padding: 10px;
  font-size: 10px !important;
}

/* MEDIA */
@media (min-width: 1200px) {
  .navbar,
  .page-footer,
  main {
    padding-left: 270px;
  }
}
